<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students data</title>
    <link rel="stylesheet" href="/studentApp.css">

</head>
<body>
    <div class="app">
        <div class="databoard">
            <h1>Student data table</h1>
            <table id="datatable">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Hair color</th>
                    <th>GPA</th>
                    <th>Gender</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="student:${std}">
                        <td th:text=${student.name}></td>
                        <td th:text=${student.weight}></td>
                        <td th:text=${student.height}></td>
                        <td th:text=${student.hairColor}></td>
                        <td th:text=${student.gpa}></td>
                        <td th:text=${student.gender}></td>
                        <td><button class="std-btn delete-mode" student-id="${student.sid}">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <form class="std-form" action="/students/add" method="post" style="display: none;">
                <h2>Add student:</h2>
                <div class="input-row">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="input-row">
                    <label for="weight">Weight(100-300pounds):</label>
                    <input type="number" min="100" max="300" name="weight" id="weight">
                </div>
                <div class="input-row">
                    <label for="height">Height(100-300cm):</label>
                    <input type="number" min="100" max="300" name="height" id="height">
                </div>
                <div class="input-row">
                    <label for="HC">Hair Color:</label>
                    <input type="text" name="HC" id="HC">
                </div>
                <div class="input-row">
                    <label for="gpa">GPA:</label>
                    <input type="number" step="0.1" max="4" min="0" name="gpa" id="gpa">
                </div>
                <div class="input-row">
                    <label for="gender">Gender:</label>
                    <select class="input-row" name="gender" id="gender">
                        <option value="female">female</option>
                        <option value="male">male</option>
                    </select>
                </div>
                <input type="hidden" name="studentId">
                <button class="nav-btns" type="submit">Submit</button>
            </form>
            <div th:if="${successMessage}" class="success-message" th:text="${successMessage}"></div>
            <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>

            <button class="nav-btns" id="add-btn">Add</button>
            <button class="nav-btns" id="del-btn">Delete</button>
            <button class="nav-btns" id="edit-btn">Edit</button>
            <button class="nav-btns" id="display-btn">Display</button>
            <div class="btns-container">
                <button class="nav-btns" onclick="goToDatatable()" style="display: none;">Done</button>
            </div>
        </div>
    </div>
    <script src="/appLogic.js" defer></script>
</body>
</html>